*{
    color: #2b1d05;
}

#title{
    display: grid;
    color: #2b1d05;
    justify-content: center;
    height: 5rem;
    line-height: 6rem;
    border-bottom: solid;
    border-bottom-color: rgba(247, 192, 66, 0.699);
    margin-bottom: 3rem;
}

.menu{
    display: grid;
    justify-content: center;
    padding-right: 9rem;
    margin: 1rem;
    grid-template-columns: repeat(1, 80px);
    grid-template-rows: repeat(4, 200px);
    row-gap: 130px;
}

.food-image{
    height: 250px;
    width: 230px;
    border-style: solid;
    border-color:rgba(235, 166, 7, 0.884);
 }

.subtitles{
    display: grid;
    justify-content: center;
    margin: 1rem;
    padding-top: 14.5rem;
    padding-right: 1.1rem;
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(3, 250px);
    justify-content: center;
    margin-top: -81.6rem;
    row-gap: 5rem;
    
}

.subtitle{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 1.6rem;
    height: 2.5em;
    font-weight: 500;
    width: 13.4rem;
    background-color: rgba(247, 193, 66, 0.884);
    padding: 0.5rem;
}

.back, .back2{
    display: grid;
    justify-content: center;
    padding-left: 0.9rem;
}

.back2{
    margin-top: -5rem;
}

#backBtn{
    color: #2b1d05;
    text-align: center;
    color: white;
    background-color: #c08218;
    border-radius: 10px;
    font-size: 0.8rem;
    width: 10rem;
    height: 3rem;
}

a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
