#title{
    font-size: 2rem;
    color: #2b1d05;
    display: flex;
    align-items: center;
    height: 10vh;
    justify-content: center;
    width: 95.6%;
    margin-left: 0;
    margin-top: -28%;
    position: absolute;
    background-color: rgba(247, 192, 66, 0.699);
}

#hook{
    color: #2b1d05;
    font-size: 1.6rem;
    width: max-content;
    margin-left: 30%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    border-bottom: solid;
    border-bottom-width: 2px;
    border-bottom-color: rgba(243, 172, 6, 0.699);
}

.food-category{
    height: 50px;
    width: 50px;
    border-radius: 100px;
    display: grid;
    background-color: green;
}

.categories, .food-description{
    display: grid;
    row-gap: 30px;

}

.food-description{

    margin-top: -225px;
    row-gap: 0px;
    margin-left: 30px;
}

#breakfast, #lunch, #dinner{
    border-color:rgba(243, 172, 6, 0.699);

    text-align: center;
    color:#2b1d05;
    font-size: 1.3rem;
    border-style: solid;
    border-width: 1px;
    height: 45px;
    z-index: -1;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
}
