*{
    color: #2b1d05;
}

.titleDiv{
    display: flex;
    justify-content: center;
}

#title{
    display: grid;
    color: #2b1d05;
    justify-content: center;
    height: 5rem;
    font-size: 1.9rem;
    line-height: 6rem;
    border-bottom: solid;
    border-bottom-color: rgba(247, 192, 66, 0.699);
    margin-bottom: 3rem;
    width: max-content;
}

.recipe-subtitles{
    display: flex;
    width: min-content;
    border-bottom: solid;
    border-bottom-color: rgba(247, 192, 66, 0.699);
}

.ingrediants-list, .directions-list{
    display: grid;
    grid-template-columns: 100%;
    font-size: 1.5rem;
    grid-template-rows: repeat(8, 70px);
    text-align: left;
    width: fit-content;
    margin: 1.5rem;
    row-gap: 2rem;    
}

.ingrediants-list{
    margin-bottom: 7rem;
    text-indent: -3rem;
    padding-left: 3rem;
}

.directions-list{
    margin-bottom: 5rem;
}

.ingrediant{
    display: flex;
    flex-direction: row;
    
}

input[type=checkbox] {
    transform: scale(2);
    margin: 1rem;
    accent-color: rgba(238, 179, 41, 0.699);
}

input[type=checkbox]:checked + label.strikethrough{
    text-decoration: line-through;
}

li{
    margin: 1rem;
}

.buttonDiv{
    display: flex;
    height: 4rem;
    justify-content: center;
    margin-bottom: 2rem;
}

button{
    width: 4rem;
    font-size: 3rem;
    border-radius: 100px;
    background-color: rgba(247, 192, 66, 0.699);
    border-style: none;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

#glazed{
    margin-bottom: 40rem;
}

#eggplant{
    margin-bottom: 70rem;
}

#orange{
    margin-bottom: 60rem;
}